<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
      <div class="cards-wrapper">
      <div class="card text-center" >
        <img src="/public/img/produto-1.png" class="card-img-top mx-auto d-block"  alt="...">
        <div class="card-body">
          <h5 class="card-title">Promoção</h5>
          <p class="card-text">Gabinete Mecânico Led Rgb Usb Abnt2 Iluminado</p>
          <h5 class="card-title preco">R$ 499,90</h5>
          <a href="#" class="btn btn-success"><i class="bi bi-cart3"></i>COMPRAR</a>
        </div>
      </div>
      <div class="card text-center">
        <img src="/public/img/produto-2.png" class="card-img-top mx-auto d-block" alt="...">
        <div class="card-body">
          <h5 class="card-title">Promoção</h5>
          <p class="card-text">PLACA DE VIDEO MANCER RADEON RX 550, <br> 4GB, GDDR5, 128-BIT, MCR-RX5504GD5-V4</p>
          <h5 class="card-title preco">R$ 1469,90</h5>
          <a href="#" class="btn btn-success"><i class="bi bi-cart3"></i>COMPRAR</a>
        </div>
      </div>
      <div class="card text-center">
        <img src="/public/img/produto-3.png" class="card-img-top mx-auto d-block" alt="...">
        <div class="card-body">
          <h5 class="card-title">Promoção</h5>
          <p class="card-text">      GPROCESSADOR INTEL CORE i9     </p>
          <h5 class="card-title preco">R$ 1869,99</h5>
          <a href="#" class="btn btn-success"><i class="bi bi-cart3"></i>COMPRAR</a>
        </div>
      </div>
    </div>
    </div>
    <div class="carousel-item">
      <div class="cards-wrapper">
        <div class="card text-center">
          <img src="/public/img/produto-4.png" class="card-img-top mx-auto d-block" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-success"><i class="bi bi-cart3"></i>COMPRAR</a>
          </div>
        </div>
        <div class="card text-center">
          <img src="/public/img/produto-5.png" class="card-img-top mx-auto d-block" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-success"><i class="bi bi-cart3"></i>COMPRAR</a>
          </div>
        </div>
        <div class="card text-center">
          <img src="/public/img/produto-6.png" class="card-img-top mx-auto d-block" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-success"><i class="bi bi-cart3"></i>COMPRAR</a>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="cards-wrapper">
        <div class="card text-center">
          <img src="/public/img/produto-7.png" class="card-img-top mx-auto d-block" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-success"><i class="bi bi-cart3"></i>COMPRAR</a>
          </div>
        </div>


        <div class="card text-center">
          <img src="/public/img/produto-8.png" class="card-img-top mx-auto d-block" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-success"><i class="bi bi-cart3"></i>COMPRAR</a>
          </div>
        </div>
        <div class="card text-center">
          <img src="/public/img/produto-9.png" class="card-img-top mx-auto d-block" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-success"><i class="bi bi-cart3"></i>COMPRAR</a>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
      <div class="cards-wrapper">
      <div class="card text-center" >
        <img src="/public/img/produto-1.png" class="card-img-top mx-auto d-block"  alt="...">
        <div class="card-body">
          <h5 class="card-title">Promoção</h5>
          <p class="card-text">Gabinete Mecânico Led Rgb Usb Abnt2 Iluminado</p>
          <h5 class="card-title preco">R$ 499,90</h5>
          <a href="#" class="btn btn-success"><i class="bi bi-cart3"></i>COMPRAR</a>
        </div>
      </div>
      <div class="card text-center">
        <img src="/public/img/produto-2.png" class="card-img-top mx-auto d-block" alt="...">
        <div class="card-body">
          <h5 class="card-title">Promoção</h5>
          <p class="card-text">PLACA DE VIDEO MANCER RADEON RX 550, <br> 4GB, GDDR5, 128-BIT, MCR-RX5504GD5-V4</p>
          <h5 class="card-title preco">R$ 1469,90</h5>
          <a href="#" class="btn btn-success"><i class="bi bi-cart3"></i>COMPRAR</a>
        </div>
      </div>
      <div class="card text-center">
        <img src="/public/img/produto-3.png" class="card-img-top mx-auto d-block" alt="...">
        <div class="card-body">
          <h5 class="card-title">Promoção</h5>
          <p class="card-text">      GPROCESSADOR INTEL CORE i9     </p>
          <h5 class="card-title preco">R$ 1869,99</h5>
          <a href="#" class="btn btn-success"><i class="bi bi-cart3"></i>COMPRAR</a>
        </div>
      </div>
    </div>
    </div>
    <div class="carousel-item">
      <div class="cards-wrapper">
        <div class="card text-center">
          <img src="/public/img/produto-4.png" class="card-img-top mx-auto d-block" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-success"><i class="bi bi-cart3"></i>COMPRAR</a>
          </div>
        </div>
        <div class="card text-center">
          <img src="/public/img/produto-5.png" class="card-img-top mx-auto d-block" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-success"><i class="bi bi-cart3"></i>COMPRAR</a>
          </div>
        </div>
        <div class="card text-center">
          <img src="/public/img/produto-6.png" class="card-img-top mx-auto d-block" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-success"><i class="bi bi-cart3"></i>COMPRAR</a>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="cards-wrapper">
        <div class="card text-center">
          <img src="/public/img/produto-7.png" class="card-img-top mx-auto d-block" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-success"><i class="bi bi-cart3"></i>COMPRAR</a>
          </div>
        </div>


        <div class="card text-center">
          <img src="/public/img/produto-8.png" class="card-img-top mx-auto d-block" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-success"><i class="bi bi-cart3"></i>COMPRAR</a>
          </div>
        </div>
        <div class="card text-center">
          <img src="/public/img/produto-9.png" class="card-img-top mx-auto d-block" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-success"><i class="bi bi-cart3"></i>COMPRAR</a>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
