<div class="card text-center bg-dark">
 <div class="card-body text-light">
 <h5 class="card-title text-light">Agradecemos pela escolha</h5>
 <p class="cardtext text-light">Site desenvolvido por HeroTec</p>
 </div>
 <div class="card-footer text-light">
 ©2023 Copyright: HeroTec
 </div>
</div>