<div class="card text-center bg-dark">
 <div class="card-body text-light">
 <h5 class="card-title text-light">Agradecemos pela escolha</h5>
 <p class="cardtext text-light">Site desenvolvido por Matheus Sousa de Oliveira</p>
 </div>
 <div class="card-footer text-light">
 ©2021 Copyright: Matheus Sousa de Oliveira
 </div>
</div>