<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- acrescente os links abaixo dos css ele já vai entender que
 está na pasta public -->
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style/stylesheet.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="/public/js/bootstrap.bundle.min.js"></script>
   
    <script src="/script/script.js"></script>
    <title>HeroTec</title>
</head>

<body class="bg-dark">
    {{>_navbar}}
    <div class="container mt-4">
        <!-- o sinal de >(maior) antes da interpolação mostra que você
quer pegar um arquivo dentro da pasta partials -->


        {{{body}}}




    </div>
    {{>_footer}}
    
</body>


</html>